{% extends 'theme/base.html' %}
{% block content %}


    <!-- Page Header Start -->
    {% include 'theme/widgets/breadcrumb.html' %}
    <!-- Page Header End -->


    <!-- Service Start -->
    {% include 'theme/widgets/services.html' %}
    <!-- Service End -->


    <!-- Feature Start -->
    {% include 'theme/widgets/features.html' %}
    <!-- Feature End -->


    <!-- Testimonial Start -->
    {% include 'theme/widgets/testimonials.html' %}
    <!-- Testimonial End -->
{% endblock content %} 